---
import { getCollection } from 'astro:content';
import PageTitle from '@components/layout/PageTitle.astro';
import ProjectCard from '@components/projects/ProjectCard.astro';
import ContactLink from '@components/sections/ContactLink.astro';
import { useTranslations } from '@i18n/utils';
import Layout from '@layouts/Layout.astro';

interface Props {
    lang: 'fr' | 'en';
}

const { lang } = Astro.props;
const t = useTranslations(lang);

// Get non-draft projects
const projects = await getCollection('projects', ({ data, id }) => {
    const isNotDraft = import.meta.env.PROD ? !data.draft : true;
    const isCorrectLang = id.startsWith(`${lang}/`);
    return isNotDraft && isCorrectLang;
});

// Sort by date
const sortedProjects = projects.sort((a, b) =>
    new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);

const seoPageTitle = `${t('seo.baseTitleTag')} | ${t('projectsIndex.titleTag')}`;
---

<Layout title={seoPageTitle}>
    <PageTitle title={ t('projectsIndex.pageTitle') }
               subtitle={ t('projectsIndex.subtitle') }
    />
    <div class="p-8 pt-0">
        <div class="projects-wrapper grid sm:grid-cols-2 xl:grid-cols-4 gap-8">
            {sortedProjects.map(project => (
                <ProjectCard
                    slug={project.id.split('/').pop().replace(/\.[^/.]+$/, "")}
                    title={project.data.title}
                    description={project.data.cardDescription}
                    image={project.data.cardImage}
                    imageAlt={project.data.cardImageAlt}
                    tools={project.data.tools}
                />
            ))}
        </div>
    </div>
    <div class="p-8 bg-white dark:bg-black transition-colors duration-200 ease-in-out">
        <ContactLink />
    </div>
</Layout>
