---
import { Image } from 'astro:assets';
import { getToolImage } from '@content/tools/imageMap';

const { tool, target, classNames } = Astro.props;
const toolImage = getToolImage(tool.id);
---

<a title={tool?.data?.label}
   href={tool?.data?.url}
   target={target}
   rel="noopener noreferrer"
   class={classNames}
>
    {toolImage && <Image src={toolImage} alt={tool.data.label} class="h-full w-auto" width={40} height={40} />}
</a>